<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here's your random fact!</h1>
    <p><%= @email.subject.reverse %></p>
  </body>
</html>